<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">NutritionPlanner</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-show="!model.user" href="#/register">Sign up
                        <span class="glyphicon glyphicon-log-in"></span></a></li>
                    <li><a ng-show="!model.user" href="#/login">Sign in
                        <span class="glyphicon glyphicon-log-in"></span></a></li>
                </ul>
                <div class="form-group">
                    <label id="welcome" ng-show="model.user" >Welcome! </label>
                    <div ng-show="model.user" class="btn-group">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{model.user.username}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#/user/{{model.user._id}}">My profile</a></li>
                            <li><a href="#/user/{{model.user._id}}/mealPlan">My meal plan</a></li>
                            <li><a href="#/help">Help</a></li>
                        </ul>
                    </div>
                </div>
                <<div class="form-group">
                <a class="sign-out" ng-show="model.user" ng-click="model.logout()">Sign out</a>
            </div>

            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
<div class="container content">
    <ul class="pager">
        <li class="previous"><a href="#/search"><span aria-hidden="true">&larr;</span> Back to search</a></li>
    </ul>
    <div class="thumbnail">
        <img ng-src="{{model.productDetail.images[0]}}" width="30%">
        <div class="caption">
            <h3>{{model.productDetail.title}}</h3>
            <div ng-bind-html="model.getSafeHtml(model.productDetail.nutrition_widget)"></div>
        </div>
    </div>
    <br>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom footer">
    <div class="container">
        <a href="../../../contact.html">
            <h5>Connect me</h5>
        </a>
        <span class="pull-right">Copyright @Xiaofan Jin All Rights Reserved</span>
    </div>
</nav>