<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand pull-left"
           href="#/user/{{model.uid}}/website/{{model.wid}}/page">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand col-m-6 pull-right"
           href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new">
            <span class=" glyphicon glyphicon-plus"></span>
            <div class="navbar-header">
                <a class="navbar-brand white" href="#">Widgets</a>
            </div>
        </a>
    </div>
</nav>

<div sortable class="container-fluid list-group relative-position zero-right-padding">


    <div class = top  ng-switch = "widget.widgetType"
         ng-repeat = "widget in model.widgets">
        <a href="#"><h6 class="glyphicon glyphicon-menu-hamburger pull-right"></h6></a>
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}" >
            <h6 class="glyphicon glyphicon-cog pull-right"></h6></a>


        <div ng-switch = "widget.size" ng-switch-when = "HEADER">
            <h1 ng-switch-when = 1>{{widget.text}}</h1>
            <h2 ng-switch-when = 2>{{widget.text}}</h2>
            <h3 ng-switch-when = 3>{{widget.text}}</h3>
            <h4 ng-switch-when = 4>{{widget.text}}</h4>
            <h5 ng-switch-when = 5>{{widget.text}}</h5>
            <h6 ng-switch-when = 6>{{widget.text}}</h6>
        </div>

        <div ng-switch-when = "YOUTUBE">
            <!--ng-src : iframe will wait service to get actual url back -->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class = "embed-responsive-item" ng-src = "{{model.checkSafeYoutubeUrl(widget.url)}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div ng-switch-when = "IMAGE">
            <img class = "img-responsive" ng-src = "{{model.checkSafeImage(widget.url)}}" />
        </div>
        <!-- pass html to controller and controller will check its safty first -->
        <div ng-switch-when = "HTML" ng-bind-html = "model.checkSafeHtml(widget.text)">
        </div>

    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <a class="navbar-brand pull-left" href="#">
            <span class="glyphicon glyphicon-play"></span>
        </a>
        <a class="navbar-brand pull-left" href="#">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>
        <a class="navbar-brand pull-right" href="#/user/{{model.uid}}">
            <span class="glyphicon glyphicon-user blue"></span>
        </a>

    </div>
</nav>
