<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand pull-left"
           href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand pull-right" href="#">
            <div class="navbar-header">
                <a class="navbar-brand white" href="#">Choose Widget</a>
            </div>
        </a>
    </div>
</nav>


<div id="list" class="container-fluid">
    <ul class="list-unstyled">

        <li class="blue">
            <a ng-click="model.newWidget('HEADER')">Header</a>
        </li>

        <li>
            <a class="blue">Label</a>
        </li>
        <li>
            <a ng-click="model.newWidget('HTML')" class="blue">HTML</a>
        </li>
        <li>
            <a ng-click="model.newWidget('TEXT')" class="blue">Text Input</a>
        </li>
        <li>
            <a class="blue">Link</a>
        </li>
        <li>
            <a class="blue">Button</a>
        </li>
        <li>
            <a ng-click="model.newWidget('IMAGE')"class="blue">Image</a>
        </li>
        <li>
            <a ng-click="model.newWidget('YOUTUBE')" class="blue">YouTube</a>
        </li>
        <li>
            <a class="blue">Date Table</a>
        </li>
        <li>
            <a class="blue">Repeater</a>
        </li>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand pull-right" href="#/user/{{model.uid}}">
            <span class="glyphicon glyphicon-user blue"></span>
        </a>
    </div>
</nav>