<nav class="navbar navbar-fixed-top navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand pull-left white"
           href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="navbar-brand white pull-left white" href="#">Edit Widget</a>
        <a class="navbar-brand pull-right white"
           ng-click="model.updateWidget()">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>

<div class="container">
    <br>
    <br>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model = "model.widget.name"
                   type="text"
                   class="form-control"
                   id="name"
                   placeholder="">
        </div>
        <div class="form-group">
            <label for="title">Text</label>
            <input ng-model="model.widget.text"
                   type="text"
                   class="form-control"
                   id="title"
                   placeholder="">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model = "model.widget.url"
                   type="url"
                   class="form-control"
                   id="url"
                   placeholder="https://youtube.be/uLWLashCXHE">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model = "model.widget.width"
                   type="text"
                   class="form-control"
                   id="width"
                   placeholder="">
        </div>
        <a class="btn btn-danger  btn-block"
           ng-click = "model.deleteWidget()">Delete</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <a class="navbar-brand pull-left" href="#">
            <span class="glyphicon glyphicon-play"></span>
        </a>
        <a class="navbar-brand pull-left" href="#">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>
        <a class="navbar-brand pull-right" href="#/user/{{model.uid}}">
            <span class="glyphicon glyphicon-user blue"></span>
        </a>

    </div>
</nav>