<nav class="navbar navbar-fixed-top navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand pull-left white"
           href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="navbar-brand white pull-left white" href="#">Edit Widget</a>
        <a class="navbar-brand pull-right white"
           ng-click="model.updateWidget()">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>


<div class="container FisrtTop">
    <form>
        <div class="form-group">
            <label for="Name" class = widgetText>Name</label>
            <input ng-model = "model.widget.name"
                   type="text" class="form-control" id="Name" placeholder="Name">
        </div>

        <div class="form-group">
            <label for="Text" class = widgetText>Text</label>
            <input ng-model = "model.widget.text"
                   type="number" class="form-control" id="Text">
        </div>

    </form>


    <a ng-click = "model.deleteWidget()"
       class="btn btn-danger btn-block">Delete</a>

</div>



<nav class="navbar navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand pull-right white" href="#/user/{{model.uid}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
