<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand pull-left"
           href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand pull-right" href="#">
            <div class="navbar-header">
                <a class="navbar-brand white" href="#">Choose Widget</a>
            </div>
        </a>
    </div>
</nav>


<div class = "container chooserContainer">
    <ul class = "list-group">
        <button type="button"
                class = "list-group-item"
                ng-repeat = "type in model.Types"
                ng-click = "model.newWidget(type)"
                >
            <h5 class = "website-list-style">{{type}}</h5>
        </button>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand pull-right" href="#/user/{{model.uid}}">
            <span class="glyphicon glyphicon-user blue"></span>
        </a>
    </div>
</nav>